@model MedicalInformationSystemWebApp.Models.CodeFirstModel.NurseTB

@{
    ViewBag.Title = "Details";
}
s
<div class="p-4 rounded border form-design animated lightSpeedIn text-center">
    <h4 class="text-center text-info">Details Nurse Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleTB.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleTB.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qualification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Joined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Joined)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            <img class="rounded-circle" src="~/Content/EmployeeImage/@Model.ImagePath" width="50" height="50" />
            @*@Html.DisplayFor(model => model.ImagePath)*@
        </dd>

        <dt>
            @Html.HiddenFor(model => model.Email)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.Email)
        </dd>

        <dt>
            @Html.HiddenFor(model => model.Password)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NurseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
