@model IEnumerable<MedicalInformationSystemWebApp.Models.CodeFirstModel.NurseTB>

@{
    ViewBag.Title = "Index";
}
<br/>
<br/>
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Nurse List</h2>
    </div>
    <div class="col-6 text-right">
        <a href="@Url.Action("Create","Nurse")" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Add Nurse</a>
    </div>
</div>
<br />
<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table form-design animated lightSpeedIn">
    <tr>
        <th colspan="2">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Joined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th class="text-danger">Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td colspan="2">
                @Html.DisplayFor(modelItem => item.NameED)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Joined)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <img class="rounded-circle" src="~/Content/EmployeeImage/@item.ImagePath" width="50" height="50" />
                @*@Html.DisplayFor(modelItem => item.ImagePath)*@
            </td>
            <td style="width: 100px">
                <div class="btn-group">
                    <a class="btn btn-primary" href="@Url.Action("Edit","Nurse",new {id = item.NurseId})"><i class="far fa-edit"></i></a>
                    <a class="btn btn-success" href="@Url.Action("Details","Nurse",new {id = item.NurseId})"><i class="fas fa-list-ul"></i></a>
                    <a class="btn btn-danger" href="@Url.Action("Delete","Nurse",new {id = item.NurseId})"><i class="fas fa-trash-alt"></i></a>
                </div>
            </td>
        </tr>
    }

</table>
