@model MedicalInformationSystemWebApp.Models.CodeFirstModel.PrescribeTestTB

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PrescribeTestTB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DoctorTB.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorTB.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientTB.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientTB.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
