@model IEnumerable<MedicalInformationSystemWebApp.Models.CodeFirstModel.PrescribeTestTB>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Prescription List</h2>
    </div>
    <div class="col-6 text-right">
        <a href="@Url.Action("Create","PrescribeTest")" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Prescriber</a>
    </div>
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoctorTB.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientTB.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Midkit)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorTB.NameED)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientTB.NameED)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestNameED)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MidkitED)
            </td>
            <td style="width: 100px">
                <div class="btn-group">
                    <a class="btn btn-success" href="@Url.Action("Details", "PrescribeTest", new {id = item.Id})"><i class="fas fa-list-ul"></i></a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", "PrescribeTest", new {id = item.Id})"><i class="fas fa-trash-alt"></i></a>
                    <a class="btn btn-dark" href="@Url.Action("Print", "PrescribeTest", new {id = item.Id})"><i class="fas fa-print"></i></a>
                </div>
            </td>
        </tr>
    }

</table>
