@{
    Layout = null;
    int i = 0;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/CustomCss/AppointmentCSS.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid m-5 px-5">
        <a href="#" class="navbar-brand">Jo<span style="color: #00E8E8">ya</span>M:<span style="color: #00E8E8">)H</span></a>
        <h1 align="center" class="f site-title">Joya Memorial Medical Collage & Hospital</h1>
        <h5 align="center" class="f" style="background: lightyellow;color:indigo">Moijjartak circle,Karnafully,Chattogram</h5>
        <hr />
        <div class=" mx-5 float-right">
            
                <table>
                    <tr>
                        <th>Dr.@ViewBag.Doctor</th>
                    </tr>
                    <tr>
                        <th>@ViewBag.DoctorTitle</th>
                    </tr>
                    <tr>
                        <th>@ViewBag.DoctorS</th>
                    </tr>
                    <tr>
                        <th>Time:&nbsp; @ViewBag.Day &nbsp; &nbsp;,@ViewBag.Time</th>
                    </tr>
                </table>
        </div>
        <br/>
        <br />
        <br/>
        <br/>
        <br/>
        <h6 align="center" class=" mx-5 bg-secondary" style="color: white;">Prescription</h6>
        <div class="mx-5">

            <aside class="float-left">
                <table>
                    <tr>
                        <th>Name: &nbsp; </th>
                        <td>@ViewBag.Name</td>
                    </tr>
                    <tr>
                        <th>Sex: &nbsp; </th>
                        <td>@ViewBag.Sex</td>
                    </tr>
                </table>
            </aside>


            <aside class=" float-right">
                <table>
                    <tr>
                        <th>Date:</th>
                        <td>@DateTime.Now.ToString("yyyy MMMM dd")</td>
                    </tr>
                    <tr>
                        <th>Age:</th>
                        <td>@ViewBag.Age</td>
                    </tr>
                </table>
            </aside>
        </div>


    </div>
    <br />

    <div class=" container-fluid mx-5 px-5 text-center">
        <hr />
        <div class="  pt-2t">
            <p><b><u>Test Name</u></b></p>
            <b><span class=" d-inline-block">
                
                @foreach (string Test in @ViewBag.TestName)
                {
                    @Test;<span>,</span> <br/>
                }
            </span></b><br />
        </div>

        
        <br>
        <br>
        <hr />
    </div>

</body>
</html>